/* Buttons
-------------------------------------------------------------- */
//skip to content
.skip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
        .btn-skip {
            height: 1px;
            width: 1px;
            position: absolute;
            overflow: hidden;
            top: -10px;
            left: 0;
            &:focus {
                position: fixed;
                height: auto;
                width: auto;
                margin:0 auto;
                display: block;
                left: 0;
                right: 0;
                top:5px;
                text-align: center;
            }
        }
}

//Text button

.text-btn {
    display:inline-block;
    font-size: $beta-size;
    opacity: 0.7;
    position:relative;
    transition: all 0.1s ease-out;
    @media(min-width: $bp-small) {
        &:hover {
            opacity: 1;
            &:after {
                margin-left: 15px;
            }
        }
    }
}

.text-btn--white {
    color: $white;
    opacity: 0.7;
}

.text-btn--next {
    &:after {
        content:'\e803';
        display:inline-block;
        font-family: fontello;
        font-size: $gamma-size;
        margin-left: 10px;
        position:relative;
        transition: all 0.1s ease-out;

    }
}