/* Footer
--------------------------------------------------------------*/

.footer {
    background: $black;
    color: $light-grey-2;
    display:block;
    padding: $baseline*2 0 $baseline;
    position:relative;
}

.footer__title {
    font-size: $gamma-size;
    letter-spacing: 0.1rem;
    padding-top: $baseline/3;
    text-transform: uppercase;
}

.footer__social {
    display:block;
    
}