/* Header
-------------------------------------------------------------- */

.header {
    //background: $light-grey-1;
    left: 0;
    padding: $baseline/1.5 $baseline/3;
    position:absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.header__logo {
    display:inline-block;
    height: 50px;
    @media(min-width: $bp-small) {
        height: 60px;
    }
}