<div class="blog-list blog-list--landing">
        <div class="wrap">
            <div class="row">
                <a href="/blog.html" class="col xxsmall-12 xsmall-12 small-12 medium-6 blog-item">
                    <span class="blog-item__date">21st May 2018</span>
                    <h3 class="blog-item__title">Why you should consider a custom typeface</h3>
                </a>
                <a href="/blog.html" class="col xxsmall-12 xsmall-12 small-12 medium-6 blog-item">
                    <span class="blog-item__date">1st May 2018</span>
                    <h3 class="blog-item__title">This is a blog title</h3>
                </a>
                <a href="/blog.html" class="col xxsmall-12 xsmall-12 small-12 medium-6 blog-item">
                    <span class="blog-item__date">1st May 2018</span>
                    <h3 class="blog-item__title">This is a blog title</h3>
                </a>
                <a href="/blog.html" class="col xxsmall-12 xsmall-12 small-12 medium-6 blog-item">
                    <span class="blog-item__date">1st May 2018</span>
                    <h3 class="blog-item__title">This is a blog title</h3>
                </a>
            </div> 
        </div>
    </div>
</div>