<div class="blog-list blog-list--blog">
    <div class="wrap">
        <div class="row">
            <div class="col xxsmall-12 xsmall-12 small-2 medium-3 large-4">
                <h2 class="section-title">Other blogs</h2>
            </div>
            <div class="col xxsmall-12 xsmall-12 small-10 medium-9 large-8">
                <div class="row">
                    <a href="/blog.html" class="col xxsmall-12 xsmall-12 small-12 medium-12 blog-item">
                        <span class="blog-item__date">21st May 2018</span>
                        <h3 class="blog-item__title">Why you should consider a custom typeface</h3>
                    </a>
                    <a href="/blog.html" class="col xxsmall-12 xsmall-12 small-12 medium-12 blog-item">
                        <span class="blog-item__date">1st May 2018</span>
                        <h3 class="blog-item__title">This is a blog title</h3>
                    </a>
                </div> 
                <a class="text-btn text-btn--next" href="/blog-list.html">See all</a>
            </div>
        </div>
    </div>
</div>