<div class="cards cards--landing">
    <div class="wrap">
        <div class="row">
            <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-4 cards__card">
                <img src="/static/img/hemp-eyewear-1-1000x600.jpg"/>
                <h3 class="cards__card-title">Hemp Eyewear</h3>
            </a>
            <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-4 cards__card">
                <img src="static/img/twenty-one-degrees-1-1000x600.jpg"/>
                <h3 class="cards__card-title">Twenty One Degrees Display</h3>
            </a>
            <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-4 cards__card">
                <img src="http://via.placeholder.com/500x300"/>
                <h3 class="cards__card-title">This is a project title</h3>
            </a>
            <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-4 cards__card">
                <img src="http://via.placeholder.com/500x300"/>
                <h3 class="cards__card-title">This is a project title</h3>
            </a>
            <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-4 cards__card">
                <img src="http://via.placeholder.com/500x300"/>
                <h3 class="cards__card-title">This is a project title</h3>
            </a>
            <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-4 cards__card">
                <img src="http://via.placeholder.com/500x300"/>
                <h3 class="cards__card-title">This is a project title</h3>
            </a>
            <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-4 cards__card">
                <img src="http://via.placeholder.com/500x300"/>
                <h3 class="cards__card-title">This is a project title</h3>
            </a>
            <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-4 cards__card">
                <img src="http://via.placeholder.com/500x300"/>
                <h3 class="cards__card-title">This is a project title</h3>
            </a>
        </div>
    </div>
</div>