<div class="cards cards--work">
    <div class="wrap">
        <div class="row">
            <div class="col xxsmall-12 xsmall-12 small-2 medium-3 large-4">
                <h2 class="section-title">Other work</h2>
            </div>
            <div class="col xxsmall-12 xsmall-12 small-10 medium-9 large-8">
                <div class="row">
                    <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-6 cards__card">
                        <img src="/static/img/hemp-eyewear-1-1000x600.jpg"/>
                        <h3 class="cards__card-title">Hemp Eyewear</h3>
                    </a>
                    <a href="/project.html" class="col xxsmall-12 xsmall-6 small-6 medium-6 cards__card">
                        <img src="static/img/twenty-one-degrees-1-1000x600.jpg"/>
                        <h3 class="cards__card-title">Twenty One Degrees Display</h3>
                    </a>
                </div> 
                <a class="text-btn text-btn--next" href="/project-list.html">See all</a>
            </div>
        </div>
    </div>
</div>
