.text-button {
    position:relative;
    &:before {
        background: var(--white);
        bottom: 1px;
        content: "";
        height: 1px;
        left: 0;
        opacity: 0.5;
        position: absolute;
        right: 0;
        transition: all .15s cubic-bezier(.25,.46,.45,.94);
    }
    &:hover {
        color: var(--white);
        &:before {
            bottom: -4px;
            opacity: 1;
        }
    }
}