.text-button {
    position:relative;
    span {
        display:inline;
        padding-bottom: 0; 
    }
    // &:before {
    //     background: var(--white);
    //     bottom: 1px;
    //     content: "";
    //     height: 1px;
    //     left: 0;
    //     opacity: 0.5;
    //     position: absolute;
    //     right: 0;
    //     transition: all .15s cubic-bezier(.25,.46,.45,.94);
    // }
    &:hover, &:focus {
        // color: var(--white);
        color: var(--off-black);
        span {
            // border-bottom: 1px solid var(--white);
            border-bottom: 1px solid var(--off-black);
            padding-bottom: 3px;
            -webkit-animation: BouncingTextLink 0.3s ease 1;
        }
    }
    &:active {
        span {
            padding-bottom: 1px;
        }
    }
}