.footer {
    // @include font-size-minus-2;
    // background: var(--off-black);
    background: var(--white);
    border-top: 1px solid var(--dark-grey-2);
    // color: var(--light-grey-2);
    color: var(--off-black);
    display:block;
    padding: var(--baseline-large) var(--baseline);
    position:relative;
    width: 100%;
    z-index: 2;
    * {
        // color: var(--light-grey-2);
        color: var(--off-black);
    }
}

.footer__contact {
    display:block;
    margin-bottom: var(--baseline-small);
    position:relative;
    .footer__social-link {
        display:inline-block;
        text-decoration:none;
    }
    &.is--scrolled-in {
        -webkit-animation: slide-in-bottom 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bottom 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay:0.2s;
    }
}

.footer__social {
    display:block;
    position:relative;
    .footer__social-link {
        display:inline-block;
        margin-right: var(--baseline);
        position:relative;
        text-decoration:none;
    }
    &.is--scrolled-in {
        .footer__social-link {
            -webkit-animation: slide-in-bottom 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-bottom 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            &:nth-of-type(1) {
                animation-delay:0.5s;
            }
            &:nth-of-type(2) {
                animation-delay:0.6s;
            }
        }
    }
}