.footer {
    // @include font-size-minus-2;
    background: var(--off-black);
    border-top: 1px solid var(--dark-grey-2);
    color: var(--light-grey-2);
    display:block;
    padding: var(--baseline-large) var(--baseline);
    position:relative;
    width: 100%;
    z-index: 2;
    * {
        color: var(--light-grey-2);
    }
}

.footer__contact {
    display:block;
    margin-bottom: var(--baseline-small);
    position:relative;
}

.footer__social {
    display:block;
    position:relative;
    .footer__social-link {
        display:inline-block;
        margin-right: var(--baseline);
    }
}