.home-hero {
    background: var(--off-black);
    color: var(--white);
    height: 90vh;
    overflow:hidden;
    position:relative;
    &:before {
        -webkit-animation: MovingShape1 20s ease infinite;
        border: 1px solid var(--dark-grey-2);
        border-radius: 50%;
        content:'';
        height: 60vh;
        position:absolute;
        // right: -30vh;
        width: 60vh;
    }
    + * {
        margin-top: -48px;
    }
}

.home-hero__container {
    // @include wrap;
    @include col;
    @include column(12);
    align-content:stretch;
    bottom: 0;
    display:flex;
    flex-direction:row;
    // left: var(--baseline-medium);
    position:relative;
    // right: var(--baseline-medium);
    top:0;
}

.home-hero__content {
    align-self:flex-start;
    color: var(--white);
    flex-grow: 1;
    justify-content:flex-end;
}

.home-hero__heading {
    // @include font-size-plus-1;
    color: var(--light-grey-2);
    // color: var(--brand);
    font-weight: 400;
    margin-top: var(--baseline-small);
    text-align:right;
}

.home-hero__intro {
    @include font-size-plus-4;
    -webkit-animation: slide-in-bottom 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    // animation-delay:0.3s;
    color: var(--light-grey-2);
    max-width: 768px;
    position:absolute;
    top: 45vh;
    span {
        display:none;
        height:0;
        opacity:0;
        width:0;
        visibility:hidden;
    }
}


//Project hero ---------------
.project-hero {
    background: var(--off-black);
    border-bottom: 1px solid var(--dark-grey-2);
    color: var(--light-grey-2);
    overflow:hidden;
    padding: calc(var(--baseline-xxlarge)*3) 0 var(--baseline-xxlarge);
    position:relative;
}

.project-hero__container {
    // @include wrap;
    display:block;
    margin: 0 auto;
    max-width: 80ch;
    position:relative;
}

.project-hero__content {
    align-self:flex-end;
    // color: var(--offblack);
    flex-grow: 1;
}

.project-hero__heading {
    // @include font-size-project-title;
    @include font-size-project-title;
    -webkit-animation: slide-in-bottom 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    // color: var(--offblack);
    // font-weight: 500;
    margin-bottom: var(--baseline);
    padding: 0 var(--baseline);

}

.project-hero__detail {
    @media(min-width: 1024px) {
        display:flex;
        flex-direction:row;
        // padding-top: var(--baseline);
    }
    .project-hero__description {
        @include font-size-plus-1;
        -webkit-animation: slide-in-bottom 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bottom 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 0.3s;
        // border-top: 1px solid var(--dark-grey-3);
        padding-top: var(--baseline);
        padding-bottom: var(--baseline);
        // margin-bottom: var(--baseline-xlarge);
        padding: var(--baseline);
        @media(min-width: 1024px) {
            @include font-size-plus-2;
            // @include column(9);
            padding-right: var(--baseline-xlarge);
            // width: 75%;
        }
        p {
            margin-bottom: var(--baseline-small);
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .project-hero__credits {
        -webkit-animation: slide-in-bottom 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-bottom 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 0.5s;
        // border-top: 1px solid var(--dark-grey-3);
        // border-left: 1px solid var(--dark-grey-3);
        padding: var(--baseline);
        @media(min-width: 1024px) {
            // @include column(3);
            // border-left: 1px solid var(--dark-grey-3);
            width: 25%;
        }
    }
}

.project-hero__credits {
    @include font-size-minus-1;
    padding-top: 3px;
    dt {
        @include font-size-minus-2;
    }
    dd {
        display:block;
        // font-weight: var(--semibold-weight);
        margin-bottom: var(--baseline-small);
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// .project-hero__credits-item {
//     display:block;
//     margin-bottom: var(--baseline-small);
//     span {
//         display:block;
//         font-weight: var(--semibold-weight);
//     }
// }



//Intro ------------// 
.intro {
    background: var(--off-black);
    color: var(--white);
}

.intro__content {
    @include col;
    padding-bottom: var(--baseline-xlarge);
}


//Back link --------//
.back-link {
    @include font-size-minus-1;
    color: var(--light-grey-1);
    margin-bottom: var(--baseline-xsmall);
    position:relative;
}