.home-hero {
    background: var(--off-black);
    color: var(--white);
    height: 90vh;
    overflow:hidden;
    position:relative;
    &:before {
        border: 1px solid var(--dark-grey-2);
        border-radius: 50%;
        content:'';
        height: 100vh;
        position:absolute;
        right: -30vh;
        width: 100vh;
    }
    + * {
        margin-top: -48px;
    }
}

.home-hero__container {
    // @include wrap;
    align-content:stretch;
    bottom: 0;
    display:flex;
    flex-direction:row;
    left: var(--baseline-medium);
    position:absolute;
    right: var(--baseline-medium);
    top:0;
}

.home-hero__content {
    align-self:flex-start;
    color: var(--white);
    flex-grow: 1;
    justify-content:flex-end;
}

.home-hero__heading {
    // @include font-size-plus-1;
    color: var(--light-grey-2);
    // color: var(--brand);
    font-weight: 400;
    margin-top: var(--baseline-small);
    text-align:right;
}

.home-hero__intro {
    @include font-size-plus-4;
    color: var(--light-grey-2);
    max-width: 768px;
    position:absolute;
    top: 45vh;
}


//Project hero ---------------
.project-hero {
    background: var(--off-black);
    color: var(--light-grey-2);
    overflow:hidden;
    padding: calc(var(--baseline-xxlarge)*3) 0 0;
    position:relative;
}

.project-hero__container {
    // @include wrap;
    display:block;
    position:relative;
}

.project-hero__content {
    align-self:flex-end;
    // color: var(--offblack);
    flex-grow: 1;
}

.project-hero__heading {
    @include font-size-project-title;
    // color: var(--offblack);
    font-weight: 500;
    margin-bottom: var(--baseline-medium);
    padding: 0 var(--baseline);
}

.project-hero__detail {
    @media(min-width: 1024px) {
        display:flex;
        flex-direction:row;
    }
    .project-hero__description {
        border-top: 1px solid var(--dark-grey-3);
        padding-top: var(--baseline);
        padding-bottom: var(--baseline);
        // margin-bottom: var(--baseline-xlarge);
        padding: var(--baseline);
        @media(min-width: 1024px) {
            // @include column(9);
            padding-right: var(--baseline-xlarge);
            width: 75%;
        }
        p {
            margin-bottom: var(--baseline-small);
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .project-hero__credits {
        border-top: 1px solid var(--dark-grey-3);
        border-left: 1px solid var(--dark-grey-3);
        padding: var(--baseline);
        @media(min-width: 1024px) {
            // @include column(3);
            border-left: 1px solid var(--dark-grey-3);
            width: 25%;
        }
    }
}

.project-hero__credits {
    @include font-size-minus-2;
    padding-top: 3px;
    dd {
        display:block;
        font-weight: var(--semibold-weight);
        margin-bottom: var(--baseline-small);
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// .project-hero__credits-item {
//     display:block;
//     margin-bottom: var(--baseline-small);
//     span {
//         display:block;
//         font-weight: var(--semibold-weight);
//     }
// }



//Intro ------------// 
.intro {
    background: var(--off-black);
    color: var(--white);
}

.intro__content {
    @include col;
    padding-bottom: var(--baseline-xlarge);
}


//Back link --------//
.back-link {
    @include font-size-minus-1;
    color: var(--light-grey-1);
    margin-bottom: var(--baseline-xsmall);
    position:relative;
}