.modal--open {
    body {
        height:100%;
        margin:0;
        overflow:hidden;
    }
}

.modal {
    position: absolute;
    overflow: hidden;
    width:	0;
    height:0;
    background-color: var(--off-black);
    top:0;
    text-align:center;
    left:0;
    opacity:0;
    visibility:hidden;
}
.modal.is--active {
    opacity:1;
    visibility: visible;
    overflow: auto;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.modal__title { 
    // align-items:center;
    // border-bottom: 1px solid var(--light-grey-3);
    // display:flex;
    // font-weight: var(--semibold-weight);
    // height: 50px;
    // left: 0;
    // padding-left: var(--baseline);
    // position:absolute;
    // top:0;
    // width: calc(100% - 50px);
    // z-index: 102;
    // @media(min-width: 1024px) {
    //     height: 60px;
    //     width: calc(100% - 60px);
    // }
    @include font-size-plus-4;
    color: var(--light-grey-2);
    display:block;
    padding-left: var(--baseline);
    padding-top: var(--baseline);
    position:relative;
    text-align:left;
}

.modal__close-btn {
    // border-left: 1px solid var(--light-grey-3);
    // border-bottom: 1px solid var(--light-grey-3);
    // background:none;
    // // border-radius: 50%;
    // height: 50px;
    // padding: 12px 12px 8px 8px;
    // position:absolute;
    // right: 0;
    // top: 0;
    // width: 50px;
    // z-index:100;
    background:none;
    border: 1px solid var(--white);
    border-radius:50%;
    height:50px;
    position:absolute;
    right: var(--baseline);
    top: calc(var(--baseline) + var(--baseline-xsmall));
    width:50px;
    svg {
        fill: var(--white);
        transition: 0.1s ease-in-out;
    }
    // &:before {
    //     bottom: 0;
    //     content:'';
    //     left: 0;
    //     position:fixed;
    //     right: 0;
    //     top:0;
    //     z-index: -100;
    // }
    &:hover {
        // border: 1px solid var(--dark-grey-2);
        cursor: pointer;
        svg {
            transform: scale(1.3);
        }
    }
    @media(min-width: 1024px) {
        height: 60px;
        padding: 17px 17px 15px 15px;
        width: 60px;
    }
}

.modal__inner {
    // background: var(--light-grey-1);
    // border-radius: 14px;
    // display:block;
    // height: 90vh;
    // overflow-y:auto;
    // margin: 0 auto;
    // max-width: 800px;
    // position: relative;
    // text-align:left;
    // top: 5vh;
    // width: 90vw;
    // z-index: 2;
    bottom: 0;
    // max-width: 800px;
    margin: 0 auto;
    left: 0;
    overflow-y:auto;
    padding: var(--baseline) 0;
    position:fixed;
    right: 0;
    text-align:left;
    top: 0;
}

.modal__content-container {
    display:block;
    position:relative;
    margin-top: 60px;
    padding: var(--baseline-large) var(--baseline) var(--baseline) var(--baseline);
    z-index: 101;
}

.modal__content {
    @include font-size-plus-1;
    color: var(--light-grey-2);
    // margin-bottom: var(--baseline);
    // p {
        
    //     @media(min-width: 768px) {
    //         margin-left: var(--baseline);
    //         margin-right: var(--baseline);
    //     }
    //     @media(min-width: 1024px) {
    //         margin-left: var(--baseline-large);
    //         margin-right: var(--baseline-large);
    //     }
    // }
    p + p {
        margin-top: var(--baseline-small);
    }
}

.modal__content-block {
    background: white;
    padding: var(--baseline) calc(1.25*var(--baseline));
    min-height: 150px;
    margin: 0 calc(-1*var(--baseline)) var(--baseline) calc(-1*var(--baseline));
}

.modal__buttons {
    > * {
        margin-right: var(--baseline-large);
    }
}

.modal__action {
    bottom: 0;
    display:block;
    left: 0;
    position:absolute;
    right: 0;
    .btn--full {
        margin-bottom: 0;
        width:100%;
    }
    @media(min-width: 768px) {
        padding: var(--baseline-small);
        .btn--full {
            width:auto;
        }
    }
}

//Description list ---------// 
.modal__info {
    @include row;
    @include font-size-minus-1;
    display: block;
    margin-top: var(--baseline-xlarge);
    vertical-align:top;
    dt, dd {
        @include col;
        @include column(6);
        border-top: 1px solid var(--off-black);
        display:inline-block;
        padding: var(--baseline-small) 0 var(--baseline-small);
        position:relative;
        vertical-align:top;

    }
    dd span {
        @include font-size-minus-2;
        display:block;
        margin-top: 4px;
    }
    dd {
        &:before {
            background: var(--off-black);
            content: '';
            height: 1px;
            left: -24px;
            position:absolute;
            top: -1px;
            width: 24px;
        }
    }

}

.modal__image {
    box-shadow: var(--box-shadow-1);
    border-radius: 10px;
    display:block;
    // height: 400px;
    margin: var(--baseline-xlarge) 0 ;
    position:relative;
    overflow:hidden;
    // overflow-Y: scroll;
}

.modal__image--half {
    @include col;
    @include column(6);
}

.modal__image--third {
    @include col;
    @include column(4);
}