.nav {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    position:relative;
}

.nav__item {
    color: var(--off-black);
    display:inline-block;
    margin-right: var(--baseline-medium);
    position:relative;
    &:last-of-type {
        margin-right:0;
    }
}