//Blog list ---------------------------//

.blog-list {
    @include clearfix;
    display:block;
    padding: $baseline*2 0;
    position:relative;
}

.blog-item {
    //border-top: 1px solid rgba(255,255,255,0.1); 
    border-top: 1px solid rgba(0,0,0,0.3);
    display:block;
    padding: $baseline/3 0 $baseline*3;
    position:relative;
    &:before {
        background: $black;
        content:'';
        height: 1px;
        opacity: 0;
        position:absolute;
        left: 0;
        top: 0;
        transition: all 0.2s ease-out;
        width: 0;
    }
    @media(min-width: $bp-small) {
        &:hover {
            &:before {
                opacity: 1;
                right: 0;
                width: 100%;
            }
            .blog-item__date {
                opacity: 1;
            }
            .blog-item__title {
                color: $black;
            }
        }
    }
}

.blog-item__date {
    font-size: $gamma-size;
    opacity: 0.6;
    transition: 0.1s ease-out;
}

.blog-item__title {
    color: $dark-grey-2;
    font-size: $alpha-size;
} 

//Modifier for blog list
.blog-list--blog {
    background: $light-grey-1;
    // .blog-item  {
    //     color: $light-grey-2;
    // }
}

//Blog item --------------------------//
.blog {
    background: $light-grey-1;
    display:block;
    position:relative;
}

.blog-info {
    background: $light-grey-1;
    display:block;
    padding: $baseline*6 0 $baseline/2;
}

.blog-info__title {
    display:block;
    font-size: $tera-size;
    font-weight: 300;
    margin-bottom: $baseline*1.5;
    position:relative;
}

.blog-info__description {
    display:block;
    margin-bottom: $baseline*3;
    position:relative;
}

.blog-body {
    background: $white;
    padding: $baseline*2 0;
}