.editor {
    p {
        color: $dark-grey-2;
        font-size: $beta-size;
        &.pull-out {
            color: $mid-grey-2;
            font-size: $alpha-size;
            padding: $baseline 0; 
            max-width: 450px;
            @media(min-width: $bp-medium) {
                margin-left: -$baseline*3;
            }
        }
    }
    picture {
        display:block;
        padding: $baseline*2 0;
        position:relative;
        @media(min-width: $bp-medium) {
            margin-left: -$baseline*3;
        }
    }
}