:root {
    --font-family-default: 'Inter', sans-serif;
    
    --font-size-project-title: 5.4rem;  

    --font-size-plus-6: 2.313rem; 
    --font-size-plus-5: 2.011rem; 
    --font-size-plus-4: 1.749rem; 
    --font-size-plus-3: 1.521rem;
    --font-size-plus-2: 1.322rem;
    --font-size-plus-1: 1.15rem;
    --font-size-baseline: 1rem;
    --font-size-minus-1: .87rem;
    --font-size-minus-2: .756rem;

    --baseline: 1.5rem;
    --baseline-xsmall: 0.5rem;
    --baseline-small: 1rem;
    --baseline-medium: 1.5rem;
    --baseline-large: 3rem;
    --baseline-xlarge: 4.5rem;
    --baseline-xxlarge: 6rem;
    --gutter: 24px;
    --max-container-width: 1600px;
    
    --white: hsl(0, 0%, 100%);
    --light-grey-1: hsl(0, 0%, 96%);
    --light-grey-2: hsl(0, 0%, 90%);
    --light-grey-3: hsl(0, 0%, 80%);
    --mid-grey-1: hsl(0, 0%, 70%);
    --mid-grey-2: hsl(0, 0%, 60%);
    --mid-grey-3: hsl(0, 0%, 50%);
    --dark-grey-1: hsl(0, 0%, 22%);
    --dark-grey-2: hsl(0, 0%, 12%);
    --dark-grey-3: hsl(0, 0%, 10%);
    --off-black: hsl(0, 0%, 7%);
    --black: hsl(0, 0%, 0%);

    --brand: hsl(191,100%, 63%);

    --light-weight: 300;
    --regular-weight: 400;
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;

    --measure: 40em;
    
    --bp-xs: 480px;
    --bp-sm: 768px;
    --bp-md: 1024px;
    --bp-lg: 1200px;
}

$columns: 12;

$mq-breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 1024px,
    lg: 1200px
);

// conversion table from mq-breakpoints and grid classNames
$grid-names: (
    xs: default,
    sm: sm,
    md: md,
    lg: lg
);

//Shadows -----------//
:root {
    --box-shadow-1: 0 1px 8px rgba(0,0,0,0.08);
}



